name: Java CI with Apache Ant

on:
  push:
    branches: [ devel, master ]
  pull_request:
    branches: [ devel, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Build with Ant
        run: ant -noinput -buildfile build.xml
